<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--logback是log4j是改良版本-->
    <!--控制日志在哪里输出，STDOUT是标准输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--日志级别-->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>