<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--1 扫描SERVICE层下注解类,可以扫描到base-package的当前包以及子包的所有注解类-->
    <context:component-scan base-package="com.yf.yyshop.service.impl"/>

    <!--DataSourceTransactionManager来自spring-jdbc-->
    <!--2 事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--dataSource来自dao层，web.xml中的contextConfigLocation的配置，把spring-*.xml引进来，就能找到了,这里的报红忽略不计-->
        <!--注入数据源属性-->
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <!--这是有两种方法的-->
    <!--用eclipse写的话，要自己在头文件中加入tx的代码行，IDEA就不需要了。-->
    <!--3 设置基于注解的声明式事务tx-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>